/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Josefin+Sans:wght@400;600;700&display=swap");

/* Custom properties */
:root {
  --primary-color: #ff6348;
  --secondary-color: #0c2461;
}

/* Reset browser universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Set base styles for the page*/
body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  columns: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  border-radius: 5px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Nav bar*/
.navbar {
  background-color: #fff;
  height: 90px;
}

.navbar ul {
  display: flex; /*Align the li items of the navbar to be horizontal*/
}

.navbar a {
  font-family: "Barlow", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 10px; /*Add space between the nav links*/
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/*If .flex is within the .navbar class, then use space between */
.navbar .flex {
  justify-content: space-between; /*takes the remaining space around the flex items and puts it between the items.*/
}

.navbar img {
  width: 15em;
}

/* About section */
.about {
  /* height: 400px; */
  background-color: #7dcaba;
  color: #0c2461;
  position: relative; /*To posiition anything absolute within it*/
}

.about h1 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 70px;
  font-weight: 700;
}

.about p {
  margin: 20px 0;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #3c6382;
}

/*Grid properties specifically for the showcase items*/
.about .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible; /*Allow for things to overflow without showing the scroll bar - particularly used for the showcase-form which has a height and position that is over the showcase container.*/
}

/* Our work section */
.our-work {
  padding-top: 50px;
  font-family: "Barlow", sans-serif;
}

.our-work h2 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 50px;
  font-weight: 700;
  color: var(--secondary-color);
}

.our-work p {
  font-size: 18px;
}

.our-work_video iframe {
  width: 450px;
  justify-self: flex-start;
  border-radius: 5px;
}

/* Donate Section */
.donate {
  background-color: #f6f3ea;
  /* margin-top: 50px; */
}

.donate h2 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 50px;
  font-weight: 700;
  color: var(--secondary-color);
  /* padding: 30px; */
}

.donate h3 {
  font-weight: 600;
  font-size: 28px;
  color: var(--secondary-color);
}

.donate select {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  text-align: center;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 14px;
}

/* Contact Section */
.contact .grid {
  gap: 100px;
}
.contact h4 {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.contact h2 {
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 50px;
  font-weight: 700;
  color: var(--secondary-color);
  padding: 10px;
  margin: 0;
}

.contact-form p {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  /*Target the inputs within the form with text and email type*/
  border: 1px solid #daecfd;
  width: 100%; /*Takes the entire width of the form element*/
  padding: 3px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.contact-form label {
  display: block;
  /* margin-bottom: 8px; */
  color: var(--secondary-color);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.contact-info i {
  margin-right: 10px;
  color: var(--primary-color);
}

.contact-info h3 {
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 30px;
}

.contact-info p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #3c6382;
  margin-bottom: 20px;
  margin-top: 0;
}

.required::after {
  content: " *";
  color: red;
}

/* Footer section */
.footer {
  padding: 50px 0;
  background-color: #f6f3ea;
}

.footer .grid {
  /* Make the actual content wider by allocation more grid space */
  grid-template-columns: 2fr 1fr;
}

.footer .social a {
  margin: 0 10px;
}
.footer .social {
  justify-self: flex-end;
}
.footer i {
  color: var(--primary-color);
}
