/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Josefin+Sans:wght@400;600;700&display=swap");

/* Custom properties */
:root {
  --primary-color: #ff6348;
  --secondary-color: #0c2461;
}

/* Reset browser universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Set base styles for the page*/
body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  columns: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*Nav bar*/
.navbar {
  background-color: #fff;
  height: 90px;
}

.navbar ul {
  display: flex; /*Align the li items of the navbar to be horizontal*/
}

.navbar a {
  font-family: "Barlow", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 10px; /*Add space between the nav links*/
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/*If .flex is within the .navbar class, then use space between */
.navbar .flex {
  justify-content: space-between; /*takes the remaining space around the flex items and puts it between the items.*/
}

.navbar img {
  width: 15em;
}

/* About section */
.about {
  height: 400px;
  background-color: #7dcaba;
  color: #0c2461;
  position: relative; /*To posiition anything absolute within it*/
}

.about h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.about p {
  margin: 20px 0;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #3c6382;
}

/*Grid properties specifically for the showcase items*/
.about .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible; /*Allow for things to overflow without showing the scroll bar - particularly used for the showcase-form which has a height and position that is over the showcase container.*/
}

.about img {
  border-radius: 5px;
}

/* Our work section */
.our-work {
  padding-top: 50px;
  font-family: "Barlow", sans-serif;
}

.our-work h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: var(--secondary-color);
}

.our-work p {
  font-size: 18px;
}

.our-work_video iframe {
  width: 450px;
  justify-self: flex-start;
  border-radius: 5px;
}
