/*UTILITIES - classes used all around the website */
.container {
  max-width: 1100px; /*Prevents the page from taking the full width of the device*/
  margin: 0 auto; /*Keeps everything in the centre of the page*/
  overflow: auto; /*Removes the space at the top of the page set by the h1 element*/
  padding: 0 40px;
}

/*Base style for buttons*/
.btn {
  display: inline-block; /*allows to set a width and height on the element*/
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

/*Base style for cards*/
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /*Horizonal offset | Vertical offset | Blur | Color - transparency*/
  padding: 20px;
  margin: 10px;
}

/* Text center */
.text-center {
  text-align: center;
}

/*Flex utility to make container a flex container, and the contents of the container (i.e. h1 +nav) as flex items. This class will be used for any container that needs it.*/
.flex {
  display: flex; /*Places the nav items next to h1 in column*/
  justify-content: center;
  align-items: center;
  height: 100%; /*The full heaight of the container*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /*Defines how big and wide we want each column - in this instance, there are two equaly sized columns*/
  gap: 20px; /*20px gap betwwen the columns*/
  justify-content: center;
  align-items: center;
  height: 100%; /*height is needed in order for justify and align content to work, otherwise the contents will not center*/
}

.grid-3 {
  grid-template-columns: repeat(
    3,
    1fr
  ); /*Defines how big and wide we want each column - in this instance, there are three equaly sized columns*/
}

/* Text Sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

/* Margin */
/* Margin for top and bottom */
.my-1 {
  margin: 1rem 0; /*rem unit is a multiplier of the root element font size. The default font-size is 16px = 1rem*/
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

/* Padding */
.p-5 {
  padding: 4rem;
}
